.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bggrey {
  background-color: #817e7b;
  color: white !important;
}

.bgwhite {
  background-color: white;
}

.bgorange {
  background-color: #eb9d3d;
}

.fontgrey {
  color: #1f1f1f;
}

.fontorange {
  color: #eb9d3d;
}

.fontwhite {
  color: white;
}

.textleft {
  text-align: start;
  font-weight: bold;
}

.textcenter {
  text-align: center;
  font-weight: bold;
}

.textright {
  text-align: end;
  font-weight: bold;
}

.borderless {
  border-collapse: collapse !important;
}

#footer {
  height: 0px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  color: white;
  z-index: 99;
}

.my-container {
  border: 1px solid green;
}

.my-row {
  border: 3px solid red;
  height: 50px;
}

.my-col {
  border: 3px dotted blue;
}

body {
  margin: 30 px;
}

#wrapper {
  max-width: 100%;
  height: 400px;
  background: #ccc;
  margin: 0 auto;
  text-align: center;
}

.box {
  width: 150px;
  height: 150px;
  border: thin black solid;
  display: inline-block;
}

#one {
  background: red;
  width: 30%;
}

#two {
  background: blue;
  width: 50%;
}

.noborder {
  border: none !important;
}
